* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1280px;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
}

.header-left ul li , .header-right ul li {
    display: inline-block;
}

.header-left ul li {
    margin: 20px 0 20px 15px;
}

.header-right ul li {
    margin: 20px 10px 20px 0;
}

.header-left ul li a, .header-right ul li a {
    text-decoration: none;
    color: grey;
    font-size: 12px;
}

.header-right ul li:last-child {
    font-weight: bold;
}
.header-left ul li a:hover, .header-right ul li:not(:last-child) a:hover{
    text-decoration: underline;
}

.header-right ul li:nth-child(3) a:hover {
    color: black;
}

.header-right ul li:last-child a:hover {
    background-color: rgb(64, 134, 245);
    transition:  all 0.2s;
}

.header-right ul li:last-child a {
    background-color: rgb(54, 124, 235);;
    color: white;
    padding: 5px 10px;
}

.centered-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

#google-logo {
    width: 20%;
    margin-bottom: 20px;
}

#google-logo img {
    width: 100%;
}

#bar {
    width: 45%;
    border: 1px solid lightgrey;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}

#bar i {
    padding: 13px 10px;
    font-size: 14px;
    color: grey;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons li {
    list-style-type: none;
    margin: 30px 5px;
}

.buttons li a {
    text-decoration: none;
    font-size: 14px;
    padding: 10px 12px;
    background-color: rgb(243, 243, 243);
    color: grey;
}

.buttons li:hover a {
    color: black;
    border: 1px solid lightgrey;
    border-radius: 3px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgb(243, 243, 243);
    color: grey;
    font-size: 14px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.footer-top li {
    display: inline-block;
    padding: 30px 0;
}

.footer-top-left li a, .footer-top-left li i {
    padding-left: 15px;
    font-size: 20px;
}

.footer-top-left li i {
    font-size: 24px;
    color: rgb(54, 124, 235);
}

.footer-top-left li a {
    text-decoration: none;
    color: black;
}

.footer-top-right li {
    padding-right: 15px;
    margin-top: 5px;
}
.footer-top-right li a {
    padding:6px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
}

.footer-top-right li:first-child a {
    color: rgb(54, 124, 235);
}

.footer-top-right li:last-child a {
    background-color: rgb(54, 124, 235);
    color: white;
    border-radius: 2px;
}

.footer-top-right li:last-child a:hover {
    background-color: rgb(64, 134, 245);
    transition:  all 0.2s;
}

.footer-middle, .footer-bottom, .footer-top {
    border-top: 1px solid lightgrey;
}

.footer-middle p {
    padding: 10px 15px;
    color: grey;

}

.footer-bottom {
    display: flex;
    justify-content: space-between;
}

.footer-bottom li {
    display: inline-block;
    padding: 10px 0;
}

.footer-bottom li a {
    text-decoration: none;
    padding: 0 15px;
    color: grey;
}

.footer-bottom li a:hover {
    text-decoration: underline;
}
